body {
  background-color: #373543;
}
p.Toplane {
  color: whitesmoke;
  text-align: center;
  border: 1px solid #e9b472;
  padding: 3px;
  margin-right: 20%;
  margin-left: 20%;
  font-family: Kanit;
}
span {
  color: aliceblue;
  font-family: Kanit;
}

img {
  border-radius: 5%;
}
.Marseille {
  border: 3px solid #e9b472;
  box-shadow: 8px 8px 5px black;
}
.Paris {
  border: 3px solid #e9b472;
  box-shadow: 8px 8px 5px black;
}

.Corse {
  border: 3px solid #e9b472;
  box-shadow: 8px 8px 5px black;
}
p {
  color: aliceblue;
  text-align: center;
}

.main {
  width: 100%;
  min-height: 73.1vh;
  display: flex;
  justify-content: space-around;
}

.table1 {
  min-height: 73.1vh;
  min-width: 33.1vw;
  text-align: center;
}

.table2 {
  min-height: 73.1vh;
  min-width: 33.1vw;

  text-align: center;
}
.table3 {
  min-height: 73.1vh;
  min-width: 33.1vw;

  text-align: center;
}
