* {
  background-color: #373543;
}
span {
  color: aliceblue;
  font-family: Kanit;
}
/* top */
img {
  border-radius: 5%;
  border: 3px solid #e9b472;
  box-shadow: 8px 8px 5px black;
}

h1 {
  color: #e9b472;
  font-family: Kanit;
}
a {
  text-decoration: none;
  color: #e9b472;
}

/* second code */

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.Paris-slide {
  width: 100vw;
  height: 300px;
  padding-top: 100px;
  padding-left: 350px;
}

.Paris-slide > img {
  position: absolute;
  top: O;

  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

.desc {
  display: block;
  color: #e9b472;
  font-family: Kanit;
  padding-left: 950px;
}
.desc > p {
  color: aliceblue;
}

.Little-pic {
  padding-left: 300px;
}

.lp {
  width: 150px;
  height: 100px;
  margin: 50px;
}

h2 {
  color: #e9b472;
  font-family: Kanit;
  padding-left: 100px;
  font-size: 40px;
}

.Other-pic {
  padding-left: 70px;
}
.op {
  margin: 50px;
}
