* {
  background-color: #373543;
}
span {
  color: aliceblue;
  font-family: Kanit;
}

.formulaire {
  color: #e9b472;
  font-family: Kanit;
  padding-left: 700px;
  height: 200px;
}
.mb-3 {
  height: 70px;
  width: 500px;
}
.click2 {
  color: aliceblue;
}
input::placeholder {
  color: white;
}
select:invalid {
  color: white;
}
select:valid {
  color: white;
}
.confirm {
  color: black;
  background-color: white;
  padding: 0px;
  height: 0px;
  padding-left: 210px;
}
.liste {
  padding-left: 140px;
}
.liste2 {
  padding-left: 170px;
}
